.wrapper {
    display: grid;
    grid-template-columns: 1.3rem max-content;
    gap: 0.7rem;
    align-items: center;
}

.wrapper svg {
    width: 100%;
    height: 100%;
    max-width: 1.3rem;
    max-height: 1.3rem;
    padding: 1px;
}