.card {
    display: flex;
    align-items: center;

    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #e2e2e2;
    background-color: #fff;

    padding: 0.5em;
    justify-content: space-around;
}
.photo {
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1;
}
.photo img {
    width: 100px;
    height: 100px;
}
.info {
    padding-right: 1rem;
}
.info p {
    white-space: nowrap;
}

/* Media */

/* MW-580px */

@media (max-width: 580px) {

    .card {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        padding: 5px;
        margin-top: 10px;
        border-top: 1px solid #e2e2e2;
    }
}