.short_menu {
    padding: 0;
    width: fit-content;
}

.short_menu a{
    display: block;
    margin: 0 5px;
    padding: 3px 14px;

    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;

    color: #1f333f;
    border-bottom: 1px solid #1f333f;
    transition: background-color 0.2s ease;
}

.short_menu a:hover {
    background-color: #e8e8e8;
}

