.CardFooter--primary  {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 150px;
    box-shadow: 0 0 8px 1px #c8c8c8;
    background-color: #fff;
    margin: 20px 0;
}

.CardFooter--primary:last-child {
    margin-bottom: 0;
}