.CardFooter--primary  {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: fit-content;
    box-shadow: 0 0 8px 1px #c8c8c8;
    background-color: #fff;
    margin: 20px 0;
    align-items: center;
}

.CardFooter--primary:last-child {
    margin-bottom: 0;
}

.cardFooter__description {

}

.cardFooter__description > p:first-child {
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #e5e5e5;
}


/* Media */

/* MW-1920px */

@media (min-width: 1480px) and (max-width: 1920px) {

}

/* MW-1480px */

@media (min-width: 1200px) and (max-width: 1480px) {

}

/* MW-1200px */

@media (min-width: 768px) and (max-width: 1200px) {
    .CardFooter--primary {
        padding: 15px 25px;
    }
}

/* MW-768px */

@media (min-width: 320px) and (max-width: 767px) {
    .CardFooter--primary {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
    }

    .cardFooter__description > p:first-child {
        padding: 0 0 5px 5px;
    }
}