.ItemPrice__wrapper--primary,
.ItemPrice__wrapper--secondary {
    display: flex;
    font-size: 0.9rem;
    align-items: flex-end;
}

.ItemPrice__wrapper--primary {
    flex-direction: column;
}
.ItemPrice__wrapper--secondary {
    flex-direction: row;
}

.ItemPrice__price_wrapper {
    display: flex;
    flex-direction: row;
}

.ItemPrice__order .contact {
    margin: 0;
}

.ItemPrice__price {
    font-weight: 500;
}

.ItemPrice__wrapper span {
    display: flex;
    white-space: nowrap;
}

.ItemPrice__order {
    display: flex;
}

/* Media */

/* MW-1920px */

@media (max-width: 1920px) {

}

/* MW-1200px */

@media (max-width: 898px) {
    .ItemPrice__wrapper {
        align-items: flex-start;
    }
}

@media (max-width: 767px) {
    .ItemPrice__wrapper--primary {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 440px) {
    .ItemPrice__wrapper--secondary {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 420px){
    .ItemPrice__order {
        flex-direction: column;
    }
}

