.ItemPrice__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: flex-end;
}

.ItemPrice__price_wrapper {
    display: flex;
    flex-direction: row;
}

.ItemPrice__price {
    font-weight: 500;
}

.ItemPrice__wrapper span {
    display: flex;
    white-space: nowrap;
}

.ItemPrice__order {
    display: flex;
}

/* Media */

/* MW-1920px */

@media (min-width: 1480px) and (max-width: 1920px) {

}

/* MW-1480px */

@media (min-width: 1200px) {


}

/* MW-1200px */

@media (min-width: 767px) {
    .ItemPrice__wrapper {
        flex-direction: column;
        width: fit-content;
        align-items: flex-end;
    }
    .ItemPrice__order {
        display: flex;
    }
}

/* MW-768px */

@media (min-width: 420px) and (max-width: 766px) {
    
}

/* MW-320px */

@media (min-width: 320px) and (max-width: 420px){
    .ItemPrice__order {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .ItemPrice__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}