.navbarListItem > a {
    color: inherit;
    text-decoration: none;
    padding: 0 8px 4px 8px;
    transition: all 0.2s linear;
}

.navbarListItem > a.active {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: inset 0 0 3px 1px #9c9c9c;
}


/* Media */

@media (max-width: 1920px) {
    .navbarListItem:not(:first-child) {
        margin-left: 10px;
    }

    .navbarListItem > a {
        padding: 3px 10px 6px 10px;
        font-size: 1rem;
    }
    
    .navbarListItem > a.active {
        border-radius: 8px;
        box-shadow: inset 0 0 3px 1px #9c9c9c;
    }
}

/* MW-768px */

@media (min-width: 375px) and (max-width: 768px) {

}

/* MW-320px */

@media (max-width: 375px) {
    .navbarListItem:not(:first-child) {
        margin-left: 10px;
    }

    .navbarListItem > a {
        padding: 1px 8px 4px 8px;
        font-size: 0.9rem;
    }
    
    .navbarListItem > a.active {
        border-radius: 8px;
        box-shadow: inset 0 0 3px 1px #9c9c9c;
    }
}