.slider_wrapper {
    max-width: 50%;
    margin-left: 50px;
}

.slider_slide {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

@media (max-width: 720px) {
    .slider_wrapper {
        margin-left: 0;
        max-width: 80%;
    }
}