.itemCard {

}

.itemCard__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: end;

    padding: 10px 33px 10px 33px;
    margin-bottom: 20px;

    border-bottom: 1px solid #e8e8e8;
}

.itemCard__head > p {
    font-size: 1rem;
    font-weight: bold;
    text-align: end;
}



/* Media */

/* MW-1920px */

@media (min-width: 1480px) and (max-width: 1920px) {

}

/* MW-1480px */

@media (min-width: 1200px) and (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {
    .wrapper p{
        font-size: 2rem;
    }
}

/* MW-768px */

@media (max-width: 720px) {
    .itemCard__head {
        flex-direction: column;
        align-items: flex-start;
    }
    .itemCard__head > p {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 10px;

    }
}
@media (max-width: 480px) {
    .itemCard__head {

    }
    .itemCard__head > p {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    .itemCard__head div{
        font-size: 10px;
        text-align: left;
    }
}