.BackButton--primary {
    display: block;
    width: fit-content;
    padding: 1px 10px 3px 10px;


    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;

    border-radius: 6px;


    color: #1f333f;
    border: 2px solid #1f333f;
    background-color: #fff;
}

.BackButton--primary:active {
    color: #fff;
    border: 2px solid #fff;
    background-color: #1f333f;
}


@media (max-width: 768px) {
    .BackButton--primary {
        margin: 10px 0;
    }
}
