.BackButton--primary {
    width: fit-content;
    font-size: 1.0rem;
    padding: 1px 10px 3px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #bbbbbb, inset 0 0 8px 1px #bbbbbb;
}