.menu_item_wrapper {
    display: flex;
    flex-direction: column;
}

.menu_item_wrapper a {
    display: block;
    padding: 5px 10px;

    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;



    color: var(--color-brand);
    border-bottom: 1px solid var(--color-brand);
    transition: background-color 0.2s ease;
}
.menu_item_wrapper a:last-child {
    border-bottom: none;
}

.menu_item_wrapper a:hover {
    background-color: #e8e8e8;
}