.OurTeam {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

.teammates {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.title_wrapper {
    display: block;
    width: 100%;
    font-size: 2rem;
}

@media (max-width: 550px) {
    .teammates {
        width: max-content;
        flex-direction: column;
    }
}