.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f3e8e2;
    padding: 0 3px 8px 3px;
    margin-bottom: 5px;
}


.title {

}

.date {
    font-style: italic;
}

.body {
    margin-top: 10px;
}
