.ItemImg__wrapper--secondary {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 40px;
}

.ItemImg__wrapper--primary {
    order: 2;
}

.ItemImg__img {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    margin-left: 30px;
}


/* Media */

/* MW-1920px */

@media (min-width: 1480px) and (max-width: 1920px) {

}

/* MW-1480px */

@media (min-width: 1200px) {
    .ItemImg__img {
        height: 100%;
    }
}

/* MW-1200px */

@media (min-width: 768px) and (max-width: 1200px) {

}

/* MW-768px */

@media (min-width: 320px) and (max-width: 767px) {
    .ItemImg__img {
        margin-top: 10px;
        margin-left: 0;
    }
}