.menu_item {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    border-bottom: 1px solid #e8e8e8;

    cursor: pointer;
    margin: 0;
}

.menu_item > a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.menu_item > a > span {
    display: block;
    padding: 5px 10px;
}

.menu_item:hover {
    background-color: #e8e8e8;
    transition: background-color 0.2s linear;
}

.menu_item:last-child {
    border: none;
}