.PreviousPage {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 3px;
    font-size: 0.9rem;
}

.PreviousPage > a {
    display: flex;
    height: 100%;
    align-items: center;
}

.PreviousPage::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    width: 23px;
    transform: rotate(289deg);
    height: 1px;
    background-color: #6c6c6c;
}

.PreviousPage a {
    color: inherit;
    text-decoration: none;
}

/* Media */

/* MW-1920px */

@media (max-width: 1920px) {

}
    
/* MW-1480px */

@media (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {
    .PreviousPage::after {
        display: none;
    }
}

@media (max-width: 960px) {

}