.wrapper > p {
    display: flex;
}

.wrapper > p:not(:last-child) {
    margin-bottom: 2px;
}

.wrapper a {
    color: inherit;
}

.wrapper svg {
    margin-right: 0.6rem;
    width: 1.3rem;
    height: 1.3rem;
}

.linkWrapper {
    margin-bottom: 6px;
}