.wrapper {
    display: block;
    width: fit-content;
    padding: 1px 10px 3px 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
    border-radius: 6px;
    color: var(--color-brand);
    border: 2px solid var(--color-brand);
    background-color: #fff;
}

.wrapper:active {
    color: #fff;
    border: 2px solid #fff;
    background-color: var(--color-brand);
}
