.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.link {
    color: var(--c-brand);
    text-decoration: none;
    border-bottom: 1px solid var(--c-brand);
    font-weight: bold;
    white-space: nowrap;
}

@media (max-width: 640px) {
    .wrapper {
        gap: 8px;
    }
}
