.contact {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.contact img {
    margin-right: 10px;
    height: 20px;
}

.contact > p,
.contact > a {
    word-break: keep-all;
    white-space: nowrap;
    font-weight: bold;
    font-size: inherit;
    color: inherit;
}

/* Media */

/* MW-1480px */

@media (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {
    
}

/* MW-768px */

@media (max-width: 768px) {
    .contact {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 3px 0;
    }
    
    .contact img {
        margin-right: 10px;
        height: 18px;
    }
}

/* MW-375px */

@media (max-width: 375px) {
    .contact {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 2px 0;
    }
    .contact:first-child {
        margin-top: 0;
    }
    .contact:last-child {
        margin-bottom: 0;
    }
    
    .contact img {
        height: 15px;
    }
}