.contact {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin-right: 1rem;
}

.contact,
.contact > p,
.contact > a {
    word-break: inherit;
    white-space: inherit;
    color: inherit;
}

.contact img {
    margin: 0 0.5rem;
    height: 1rem;
}



/* Media */

/* MW-1480px */

@media (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {
    
}

/* MW-768px */

@media (max-width: 768px) {

}

/* MW-375px */

@media (max-width: 375px) {

}