.section_header {
    background-color: #fff;
    padding: 5px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: fit-content;
    background-color: #fff;
}