.section_navbar {
    background-color: #e5e5e5;
    box-shadow: 0 0 10px #b3b3b3;
    padding: 4px 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0 0 4px 0;
}

/* Media */

/* MW-1920px */

@media (min-width: 1480px) and (max-width: 1920px) {
    
}

/* MW-1480px */

@media (min-width: 1200px) and (max-width: 1480px) {

}

/* MW-1200px */

@media (min-width: 768px) and (max-width: 1200px) {
    .section_navbar {
        box-shadow: 0 0 10px #b3b3b3;
        padding: 6px 0;
    }
}

/* MW-768px */

@media (min-width: 375px) and (max-width: 768px) {
    .section_navbar {
        box-shadow: 0 0 10px #b3b3b3;
        padding: 4px 0;
    }
}

/* MW-320px */

@media (min-width: 320px) and (max-width: 375px) {
    .section_navbar {
        box-shadow: 0 0 8px #a0a0a0;
        padding: 2px 0;
    }
}