.header_contacts {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    font-size: 1.2rem;
}


/* Media */

/* MW-1480px */

@media (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {
    .header_contacts {
        font-size: 1rem;
        gap: 15px;
    }
}

/* MW-768px */

@media (max-width: 630px) {
    .header_contacts {
        gap: 3px;
        grid-auto-flow: row;
    }
}

/* MW-320px */

@media (min-width: 320px) and (max-width: 375px) {
    .header_contacts {
        gap: 3px;
        grid-auto-flow: row;
    }
}