.YMWrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px #b9b9b9;
}

@media (max-width: 820px) {
    .YMWrapper {
        padding: 10px;
    }
}

@media (max-width: 440px) {
    .YMWrapper {
        display: none;
    }
}