.CurrentPage {
    display: flex;
    align-items: center;
    padding: 0px 6px 3px 6px;


    font-weight: bold;
    font-size: 0.9rem;

    color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 6px;
    background-color: #fff;
    transition: background-color 0.2s ease;
}

/* Media */

/* MW-1920px */

@media (max-width: 1920px) {
    
}

/* MW-1480px */

@media (max-width: 1480px) {
    
}

/* MW-1200px */

@media (max-width: 1200px) {
    .CurrentPage {
        padding: 4px 5px;
    }
}

/* MW-768px */

@media (max-width: 768px) {
    
}

/* MW-320px */

@media (max-width: 375px) {
    
}