.BcCurrentPage {
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 0px 6px 3px 6px;
    border-radius: 6px;
    border: 1px solid #acacac;
    box-shadow: inset 0 0 2px 1px #c5c5c5;
}

/* Media */

/* MW-1920px */

@media (min-width: 1480px) and (max-width: 1920px) {
    
}

/* MW-1480px */

@media (min-width: 1200px) and (max-width: 1480px) {
    
}

/* MW-1200px */

@media (min-width: 768px) and (max-width: 1200px) {
    .BcCurrentPage {
        font-size: 0.9rem;
        padding: 4px 5px;
    }
}

/* MW-768px */

@media (min-width: 375px) and (max-width: 768px) {
    
}

/* MW-320px */

@media (min-width: 320px) and (max-width: 375px) {
    
}