.CurrentPage {
    display: flex;
    align-items: center;
    padding: var(--sp-1) var(--sp-2);

    font-weight: 600;
    font-size: var(--fs-sm);

    color: var(--c-brand);
    border: 1px solid var(--c-brand);
    border-radius: var(--radius-sm);
    background-color: var(--c-surface);
}
