.footer {
    margin-top: 3rem;
    width: 100%;
    padding: 20px 0;
    background-color: #1f333f;
    border-top: 2px solid #000;
    box-shadow: 0 0 10px 3px #606060;
    color: #fff;
}

.footer a {
    text-decoration: none;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 720px) {
    .content {
        justify-content: space-evenly;
    }
}

@media (max-width: 440px) {
    .footer {
        padding: 10px 0;;
    }
    .content {
        justify-content: space-between;
    }
}

