.form-input {
  border: none;
  padding: 8px;
  outline: none;
  border-bottom: 1px solid var(--c-accent);
  transition: border-color .3s linear;
}

.form-input:focus {
  border-color: var(--c-brand);
}