.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 440px) { 
        .wrapper p {
            font-size: 0.9rem;
        }
}