.wrapper {
    max-width: 250px;
    max-height: 250px;
    width: 40%;
    margin: 20px;
}

.wrapper > img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}


/* Media */

/* MW-1920px */

@media (min-width: 1480px) and (max-width: 1920px) {

}

/* MW-1480px */

@media (min-width: 1200px) {

}

/* MW-1200px */

@media (min-width: 768px) and (max-width: 1200px) {

}

/* MW-768px */

@media (max-width: 767px) {

}