.homepage {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.homepage__logo {
    margin-bottom: 20px;
}

.homepage__logo > img {
    border-radius: 10px;
    height: 350px;
}

.homepage__companyName {
    font-size: 3rem;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    text-align: center;
}

.homepage__description {
    padding: 0 20px;
}


/* Media */



/* MW-768px */

@media (max-width: 960px) {
    .homepage__logo > img {
        border-radius: 10px;
        height: 300px;
    }
    .homepage__logo {
        margin-bottom: 5px;
    }
}

/* MW-320px */

@media (max-width: 430px) {
    .homepage {
        margin-top: 20px;
    }
    .homepage__logo > img {
        border-radius: 10px;
        height: 230px;
    }
    .homepage__logo {
        margin-bottom: 5px;
    }
    .homepage__companyName {
        font-size: 2rem;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .homepage__description {
        padding: 0 10px;
        text-align: justify;
    }
}