.breadcrumbs {
    text-align: center;
    justify-content: center;
    list-style: none;
    display: flex;
    background-color: #e5e5e5;
    max-width: 100%;
    width: fit-content;
    min-height: fit-content;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px #cdcdcd;
}
