.breadcrumbs {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: 1rem;

    text-align: center;
    justify-content: center;
    list-style: none;


    background-color: #fff;
    max-width: 100%;
    width: fit-content;
    min-height: fit-content;
    
    border: 0 0 8px 1px #c8c8c8;
    border-radius: 8px;
    box-shadow: 0 0 8px 1px #c8c8c8;

    margin: 20px 0;
    padding: 0.5rem 1rem;
}

/* Media */

/* MW-1920px */

/* MW-1480px */

/* @media (max-width: 1480px) {
    .breadcrumbs {
        grid-auto-columns: auto;
        grid-auto-flow: column;
        margin: 20px 0;
        padding: 2px 2px;
    }
} */

/* MW-1200px */

@media (max-width: 1200px) {
    .breadcrumbs {
        grid-auto-columns: auto;
        grid-auto-flow: column;
        margin: 25px 0;
        padding: 4px 8px;
    }
}

/* MW-768px */

@media (max-width: 767px) {
    .breadcrumbs {
        display: none;
    }
}
