* {
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f8f8;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.wrapper {
    width: 70vw;
    margin: 0 auto;
}

.main--wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    font-size: 16px;
}

/* Media */

/* MW-1480px */

@media (max-width: 1480px) {
    .wrapper {
        width: 80vw;
    }
    html {
        font-size: 15px;
    }
}

/* MW-1200px */

@media (max-width: 960px) {
    .wrapper {
        width: 85vw;
    }
    html {
        font-size: 14px;
    }
}

/* MW-768px */

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
    .wrapper {
        width: 90vw;
    }
}

@media (max-width: 440px) {
    body {
        font-size: 16px;
    }
    .wrapper {
        width: 90vw;
    }
    html {
        font-size: 14px;
    }
}

/* MW-320px */

@media (max-width: 320px) {
    html {
        font-size: 14px;
    }
}