.backplate {
    height: fit-content;
    padding: var(--sp-4);

    background-color: var(--c-surface);
    border: 1px solid var(--c-border);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
}

@media (max-width: 900px) {
    .backplate {
        padding: var(--sp-3);
    }
}
