.description_section {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.description p {
    margin-top: 2vh;
    text-align: justify;
    text-indent: 1em;
}

.title_wrapper {
    font-size: 1.5rem;
    display: block;
}
