.banner__wrapper {
    width: 100vw;
    display: flex;
}

.banner__wrapper img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    z-index: -1;
}

.homepage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companyName {

}

.description {
    width: 80vw;
}

.companyName {
    font-size: 3rem;
}

.description p {
    font-size: 1.1rem;
}

.description p {
    margin-bottom: 20px;
}

.label {
    top: 10vh;
    left: 20vw;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #acacac70;
    border-radius: 10%;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 6px 2px #808080;
}

.logoWrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.logoWrapper svg {
    width: 100%;
    height: 100%;
}

.short_menu {
    display: flex;
    justify-content: center;
}
.short_menu a {
    margin: 0 5px;
    padding: 3px 14px;
}

.bottom_section {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}


/* Media */

/* MW-1480px */

@media (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {

}

/* MW-768px */

@media (max-width: 630px) {

}

/* MW-320px */

@media (min-width: 320px) and (max-width: 375px) {

}