.wrapper--header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.wrapper {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.wrapper--header {
    font-weight: bold;
}

.wrapper a,
.wrapper--header a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #1f333f;
}

/* Media */

/* MW-1480px */

@media (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {

}

/* MW-768px */

@media (max-width: 1080px) {
    .wrapper--header {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        justify-items: start;
    }

}

@media (max-width: 720px) {
    .wrapper--header {
        gap: 1rem
    }
    .wrapper {

    }
    .wrapper p{

    }
    .wrapper > p, .wrapper > div {
        
    }
}