.wrapper,
.wrapper--header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;

}

.wrapper--header {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    width: 50%;
}

.wrapper a,
.wrapper--header a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #1f333f;
}

/* Media */

/* MW-1480px */

@media (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {

}

/* MW-768px */

@media (max-width: 1080px) {
    .wrapper--header {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

}

@media (max-width: 720px) {
    .wrapper {
        flex-direction: column-reverse;
        margin: 5px 0;
        align-items: normal;
    }
    .wrapper p{
        display: flex;
        align-items: center;
    }
    .wrapper > p, .wrapper > div {
        margin: 3px 0;
        align-items: center;
    }
}

/* MW-320px */

@media (min-width: 320px) and (max-width: 375px) {

}