.navbar {
    height: fit-content;
    font-size: 1rem;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    height: fit-content;
}


/* Media */

/* MW-1480px */

@media (max-width: 1480px) {

}

/* MW-1200px */

@media (max-width: 1200px) {

}

/* MW-860px */

@media (max-width: 860px) {
    .navbar {
        font-size: 0.9rem;
    }
}
@media (max-width: 720px) {

}


@media (max-width: 440px) {
    .navbar {
        font-size: 0.8rem;
        padding: 5px;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        padding: 5px;
    }
}