.navbar {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
    max-width: 700px;
}

/* Media */

/* MW-860px */

@media (max-width: 860px) {

}
@media (max-width: 720px) {

}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
        width: fit-content;
    }
}

@media (max-width: 440px) {

}