.section_navbar {
    background-color: #e5e5e5;
    box-shadow: 0 0 10px #b3b3b3;
    padding: 4px 0;
}

.navbar ul {
    display: flex;
    vertical-align: middle;
    list-style: none;
    padding: 0 0 4px 0;
}


@media (max-width: 1920px) {
    .section_navbar {
        box-shadow: 0 0 10px #b3b3b3;
        padding: 6px 0;
    }
}


@media (max-width: 768px) {
    .section_navbar {
        box-shadow: 0 0 10px #b3b3b3;
        padding: 4px 0;
    }
}

@media (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}