.wrapper {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .wrapper {
        width: 75%;
    }
}
@media (max-width: 1300px) {
    .wrapper {
        width: 85%;
    }
}
@media (max-width: 440px) {
    .wrapper {
        width: 90%;
    }
}