.logo {
    height: 5rem;
    width: 5rem;
    max-height: rem;
    max-width: rem;
}

.logo svg {
    height: 5rem;
    width: 5rem;
}

@media (max-width: 720px) {

}

@media (max-width: 440px) {
    .logo {
        display: none;
    }
}
@media (max-width: 320px) {

}