.logo {
    height: 5rem;
    width: 5rem;
    max-height: 5rem;
    max-width: 5rem;
}

.logo svg {
    height: 5rem;
    width: 5rem;
}

@media (max-width: 640px) {
    .logo {
        display: none;
    }
}
