.logo > a {
    display: flex;
    height: fit-content;
}

.logo > a > img {
    aspect-ratio: 1/0.87;
    border-radius: 2%;
    height: 70px;
}

/* Media */

/* MW-1920px */

@media (min-width: 1480px) and (max-width: 1920px) {

}

/* MW-1480px */

@media (min-width: 1200px) and (max-width: 1480px) {

}

/* MW-1200px */

@media (min-width: 768px) and (max-width: 1200px) {

}

/* MW-768px */

@media (min-width: 375px) and (max-width: 768px) {

}

/* MW-320px */

@media (min-width: 320px) and (max-width: 375px) {

}