.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
}

.not-found__goback,
.not-found a {
    cursor: pointer;
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.0rem;
}


@media (max-width: 440px) {
    h1 {
        font-size: 1.7rem;
    }

}
@media (max-width: 376px) {
    h1 {
        font-size: 1.4rem;
    }
    .not-found > p {
        font-size: 0.8rem;
    }
}